/* Global Styles for Terminal and Backroom */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  @apply bg-slate-900;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
  -webkit-appearance: none;
}

@font-face {
  font-family: 'Jersey 15';
  src: url('../fonts/Jersey15-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Wallet Multi Button */
.swv-button-trigger {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg text-xs h-8 font-semibold !important;
}

.swv-dropdown {
  .swv-button-icon {
    @apply hidden !important;
  }
  .swv-button > * + * {
    @apply ml-0 !important;
  }
}

.swv-modal-wrapper-no-logo {
  @apply bg-slate-900 text-white !important;

  button {
    @apply hover:bg-slate-800 !important;
  }

  .swv-modal-list p {
    @apply text-white !important;
  }

  .swv-modal-button-close {
    @apply bg-slate-900 text-white !important;
  }
}

.swv-dropdown-list {
  @apply bg-slate-900 text-white !important;

  li {
    @apply hover:bg-slate-800 !important;
  }
}
